<a href="<%= user_path user %>" class="item">
    <img src="http://www.placekitten.com/30/30" />
    <div class="name"><%= user.first_name %> <%= user.last_name %></div>
    <div class="title">title</div>
    <div class="location"><%= user.location.state %>
        <span class="icon icon-location"></span>
    </div>
</a>