<div><%= image_tag @user.image_path.url(:profile) %></div>
<div><%= @user.full_name %></div>
<% if(!current_user.following?(@user)) %>
<div><%= link_to "Follow", follow_user_path(@user) %></div>
<% end %>
<hr />
<% if(@user.followed_users.count) %>
	<h3>Following</h3>
	<% @user.followed_users.each do |f| %>
		<div><%= f.full_name %></div>
	<% end %>
<% end %>
