a {
    text-decoration: none;
    color: #333;
}
::-webkit-input-placeholder {
   color:  #ccc;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ccc; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;  
}

:-ms-input-placeholder {  
   color:  #ccc;  
}

h1 {
    font-size: 26px;
    margin-bottom: 5px;
    font-weight: bold;  
    color: $darkbackground;
}

.left {
    float: left;
}
.right {
    float: right;
}
.clb {
    clear: both;
}
.btn {
    border-radius: 2px;
    padding: 6px 20px;
    display: inline-block;
    cursor: pointer;
    border: 0;
    border-bottom: 2px solid #ccc;
    background: #eee;
    @include single-transition(background, 0.3s, ease);
    
    &.save {
        background: $green;
        color: #fff;
        border-color: $darkgreen;
        
        &:hover {
            background: $darkgreen;
        }
    }
    
    &.cancel {
        color: #333;
        background: transparent;
        border-color: transparent;
        font-size: 12px;
    }
    
    &.submit {
        color: #fff;
        background: $blue;
        border-color: $darkblue;
        font-size: 12px;
    }
    
    &:hover {
        @include single-transition(background, 0.3s, ease);
    }
}

