body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background: $background;
    padding-top: 136px;
}
.fixed-hd {
    border-bottom: 5px solid #f2f2f2;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 112px;
    top: 0;
    left: 0;
    
    .top-nav {
        background: $darkbackground;
        color: #999;
        
        ul {
            height: 38px;
            
            li {
                float: left;
                
                 a {
                    display: block;
                    padding: 11px 20px;
                    height: 16px;
                    font-size: 11px;
                    color: #9da4ac;
                    font-weight: bold;
                    text-transform: uppercase;
                    
                    &.icon {
                        font-size: 15px;
                        padding: 11px 13px 11px 11px;
                    }
                    
                 }
                 
                 &.active a {
                    color: #fff;
                    background: #363c45;
                 }
            }
        }
    }
    
    .bottom-nav {
        width: 100%;
        height: 80px;
        background: #fff;
        position: relative;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
        
        .logo {
            font-size: 28px;
            width: 216px;
            padding: 23px 10px 16px 0;
            position: absolute;
            height: 41px;
            top: 0;
            left: 0;
            color: #d8d7d2;
            font-weight: bold;
            background: $lightblue;
            text-align: center;
            border-radius: 2px;
            
            & b {
                color: $blue;
            }
        }
        
        input {
            background: transparent;
            width: 696px;
            height: 40px;
            padding: 10px 0 10px 65px;
            border: 0;
            margin: 0;
            font-size: 30px;
            position: absolute;
            z-index: 2;
            left: 236px;
            top: 10px;
            color: #333;
        }
        
        .icon-search {
            position: absolute;
            left: 236px;
            top: 10px;
            width: 38px;
            height: 38px;
            font-size: 40px;
            padding: 11px;
            color: #eee;
            
            &.focus {
                color: $darkyellow;
                @include single-transition(color, 0.2s, ease);
            }
        }
        
        .right-buttons {
            position: absolute;
            z-index: 20; 
            right: 0;
            top: 0;
            
            a.messages {
                position: relative;
                float: right;
                padding-top: 10px;
                
                .icon {
                    color: $blue;
                    height: 60px;
                    width: 60px;
                    font-size: 60px; 
                }
                .count {
                    color: #fff;
                    font-size: 14px;
                    position: absolute;
                    top: 26px;
                    left: 8px;
                    text-align: center;
                    width: 47px;
                }
                
                &:hover .icon {
                    color: $darkblue;
                }
            }
          
            .user-info {
                position: relative;
                float: right;
                min-width: 80px;
                height: 80px;
               
                img {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    height: 60px;
                    width: 60px;
                    border-radius: 2px;
                    z-index: 3;
                }
                
                .flyout {
                    width: 0px;
                    height: 80px;
                    margin-right: 10px;
                    overflow: hidden;
                    text-align: right;
                    @include opacity(0);
                    @include transition(all 0.2s ease);
                    
                    .inner {
                        padding: 10px 70px 10px 10px;
                        width: 140px;
                    }
                    
                    b {
                        display: block;
                    }
                    
                    .logout {
                        text-align: right;
                        font-size: 12px;
                    }
                }
                
                &.on {
                    background: #f9f9f9;
                    
                    .flyout {
                        @include opacity(1);
                        width: 230px;
                        @include transition(all 0.2s ease);
                    }
                }
            }
        }
    }
}


.left-nav {
    padding: 0;
    position: fixed;
    top: 136px;
    left: 18px;
    width: 190px;
    z-index: 100;
    
    
    ul.nav {
        
        li {
            
            a {
                background: #f9f9f9;
                font-size: 14px;
                display: block;
                padding: 14px 5px 14px 50px;
                color: $darkgrey;
                cursor: pointer;
                position: relative;
                height: 20px;
                border-radius: 2px;
                margin: 0 0 10px 0;
                
                .icon {
                    color: $darkgrey;
                    position: absolute;
                    width: 17px;
                    height: 17px;
                    font-size: 18px;
                    padding: 15px;
                    left: 0;
                    top: 0;
                    border-radius: 2px;
                }
                
                &:hover,
                &:hover .icon {
                    color: #202020;
                    @include single-transition(color, 0.3s, ease);
                }
            }
        }
        
        li.active {
            
            a {
                background: $darkblue;
                color: #fff;
                
                .icon {
                    background: $darkblue;
                    color: #fff;
                }
            }
        }
    }
}

  
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ user info */

.content-body {
    width: 770px;
    position: relative;
    left: 0px;
    margin-left: 226px;
}
    
.logout {
    
}

.flash {
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 6px 10px;
    font-size: 13px;
    color: #000;
    background: #f9f9f9;
    border-radius: 2px;
    z-index: 1000;
    text-align: center;
    
    
    &.error {
        background: $red;
        color: #fff;
    }
    
    &.success {
        background: $green;
        color: #fff;
    }
    
    &.notice {
        background: $darkyellow;
        color: #fff;
    }
    
}