body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background: $background;
    padding-top: 136px;
}
.fixed-hd {
    border-bottom: 5px solid #f2f2f2;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 112px;
    top: 0;
    left: 0;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    
    .top-nav {
        background: $darkbackground;
        color: #999;
        
        ul {
            height: 38px;
            
            li {
                float: left;
                
                 a {
                    display: block;
                    padding: 11px 20px;
                    height: 16px;
                    font-size: 11px;
                    color: #9da4ac;
                    font-weight: bold;
                    text-transform: uppercase;
                    
                    &.icon {
                        font-size: 15px;
                        padding: 11px 13px 11px 11px;
                    }
                    
                 }
                 
                 &.active a {
                    color: #fff;
                    background: #363c45;
                 }
            }
        }
    }
    
    .bottom-nav {
        width: 100%;
        height: 80px;
        background: #fff  ;
        position: relative;
        
        .logo {
            font-size: 28px;
            width: 216px;
            padding: 23px 10px 16px 0;
            position: absolute;
            height: 41px;
            top: 0;
            left: 0;
            color: #d8d7d2;
            font-weight: bold;
            background: #edf6f9;
            text-align: center;
            border-radius: 2px;
            
            & b {
                color: $blue;
            }
        }
        
        input {
            background: transparent;
            width: 698px;
            height: 40px;
            padding: 10px 0 10px 65px;
            border: 0;
            margin: 0;
            font-size: 30px;
            position: absolute;
            z-index: 2;
            left: 236px;
            top: 10px;
            color: #333;
        }
        
        .icon-search {
            position: absolute;
            left: 236px;
            top: 10px;
            width: 38px;
            height: 38px;
            font-size: 40px;
            padding: 11px;
            color: #eee;
            
            &.icon-pencil {
                width: 32px;
                height: 32px;
                padding: 8px 10px;
                font-size: 35px;
                border-radius: 2px;
                left: auto;
                right: 4px;
                top: 4px;
                color: #fff;
                cursor: pointer;
                background: $green;
                border-bottom: 5px solid $darkgreen;
                border-right: 0;
            }
        }
        
        .right-buttons {
            position: relative;
            z-index: 20; 
            
            a.messages {
                position: relative;
                float: right;
                padding-top: 10px;
                
                .icon {
                    color: $blue;
                    height: 60px;
                    width: 60px;
                    font-size: 60px; 
                    
                    &:hover {
                        color: $darkblue;
                    }
                }
                .count {
                    color: #fff;
                    font-size: 14px;
                    position: absolute;
                    top: 26px;
                    left: 8px;
                    text-align: center;
                    width: 47px;
                }
            }
          
            .user-info {
                position: relative;
                float: right;
                height: 70px;
                width: 180px;
                padding: 10px 0 0 80px;
                margin-right: -180px;
                @include single-transition(margin-right, 0.3s, ease);
               
                img {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    height: 60px;
                    width: 60px;
                    border-radius: 2px;
                }
                
                &:hover {
                    margin-right: 0;
                    @include single-transition(margin-right, 0.3s, ease);
                }
            }

            .logout {
                position: absolute;
                bottom: 10px;
                left: 60px;
                font-size: 12px;
            }
          
            &:hover {
                
            } 
        }
    }
}


.left-nav {
    padding: 0;
    position: fixed;
    top: 136px;
    left: 18px;
    width: 190px;
    z-index: 100;
    
    
    ul.nav {
        @include box();
        padding: 20px 0 0 0;
        
        li {
            
            a {
                font-size: 14px;
                display: block;
                padding: 15px 5px 15px 60px;
                color: #666;
                cursor: pointer;
                position: relative;
                height: 20px;
                
                .icon {
                    color: #333;
                    position: absolute;
                    width: 17px;
                    height: 17px;
                    font-size: 18px;
                    padding: 11px;
                    left: 0;
                    top: 0;
                }
                
                &:hover,
                &:hover .icon {
                    color: #fff;
                    @include single-transition(color, 0.3s, ease);
                }
            }
        }
        
        li.active {
            
            a {
                color: #202020;
                background: #eee;
                
                .icon {
                    color: $red;
                    border-right: 1px dotted #ccc;
                }
            }
        }
    }
}

  
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ user info */

.content-body {
    width: 770px;
    position: relative;
    left: 0px;
    margin-left: 226px;
}
    
.logout {
    
}

.flash {
    position: absolute;
    top: 0;
    width: 150px;
    right: 20px;
    top: 20px;
    padding: 20px;
    color: #000;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 2px;
    z-index: 100;
    text-align: center;
    
    &.error {
        background: $red;
        border-color: #FF7373;
    }
    
    &.success {
        background: $green;
        border-color: $darkgreen;
        opacity: 0.8;
        color: #fff;
    }
    
}