/* colors */
$background: #eee;
$darkbackground: #2a2e33;

$blue      : #009bff;
$darkblue  : #0080d3;

$grey      : #ddd;
$darkgrey  : #999;

$red       : #df6363;
$darkred   : #df6363;

$green     : #57ad68;
$darkgreen : #48a15a;

$yellow     : #ffefa6;
$darkyellow : #ffd200;

@mixin box(){
    border-radius: 2px;
    border-bottom: 2px solid $grey;
    background: #fff;
    box-shadow: 1px 1px 2px $grey;
    padding: 20px;
}

@mixin text_input(){
    border: 1px solid #dadada;
    border-radius: 2px;
    background: #fff;
    padding: 10px;
}
