/* colors */
$background: #e5e5e5;
$darkbackground: #2a2e33;

$blue      : #009bff;
$lightblue : #edf6f9;
$darkblue  : #0080d3;
$fadeblue  : #9da4ac;

$lightgrey : #eee;
$grey      : #ddd;
$darkgrey  : #999;

$red       : #df6363;
$darkred   : #df6363;

$green     : #57ad68;
$darkgreen : #48a15a;

$yellow     : #ffefa6;
$darkyellow : #ffd200;

@mixin box(){
    border-radius: 2px;
    border-bottom: 2px solid $grey;
    background: #fff;
    box-shadow: 1px 1px 2px $grey;
    padding: 20px;
}

@mixin text_input(){
    border: 1px solid #dadada;
    box-sizing: border-box;
    border-radius: 2px;
    background: #fff;
    padding: 10px;
}
@mixin css-triangle($direction: "down", $size: 20px, $color: #000) {
    width: 0;
    height: 0;
    border-left: $size solid #{setTriangleColor($direction, "left", $color)};
    border-right: $size solid #{setTriangleColor($direction, "right", $color)};
    border-bottom: $size solid #{setTriangleColor($direction, "bottom", $color)};
    border-top: $size solid #{setTriangleColor($direction, "top", $color)};
}

@function setTriangleColor($direction, $side, $color) {
    @if $direction == "left" and $side == "right"
    or  $direction == "right" and $side == "left"
    or $direction == "down" and $side == "top"
    or $direction == "up" and $side == "bottom" {
        @return $color
    } @else {
        @return "transparent";
    }
}