.profile {

    .profile-header {
        position: relative;
        @include box;
        height: 200px;
        padding-left: 260px;
        margin-bottom: 4px;
        border-bottom: 0;
        border-radius: 2px 2px 0 0; 
        
        img {
            position: absolute;
            left: 20px;
            top: 20px;
            border-radius: 3px;
        }
        
        h1 {
            margin-left: -1px;
        }
        
        .title {
            font-size: 14px;
            color: $fadeblue;
        }
        
    }
    
    .user-info {
        @include box;
        border-radius: 0 0 2px 2px;
        box-sizing: border-box;
        width: 100%;
        padding: 0;
        margin: 0 0 10px 0;
        
        .pill {
            padding: 14px;
            font-size: 13px;
            color: $darkblue;
            float: left;
            border-radius: 2px;
            margin-right: 20px;
            text-transform: capitalize;
            
            span {
              color: $darkbackground;
              font-weight: bold;
              
              &.icon {
                  
              }
            }
            
            
            &.follow-status {
                color: $darkgrey;
                float: right;
                background: $lightgrey;
                padding: 8px 12px 8px 8px;
                margin: 4px 10px 0 0;
                
                span {
                    color: $darkgrey;
                }
                
                &.active {
                    background: $darkgreen;
                    color: #fff;
                    
                    span {
                        color: #fff;
                    }
                }
            }
        }
    }
    
    .profile-sub-nav {
        height: 40px;
        padding: 0;
        margin: 20px 0;
        
        li {
            background: #f9f9f9;
            float: left;
            padding: 10px 14px 10px 40px;
            border-radius: 2px;
            margin-right: 10px;
            color: #999;
            cursor: pointer;
            font-size: 12px;
            text-transform: uppercase;
            position: relative;
            
            .icon {
                font-size: 16px;
                margin-right: 10px;
                position: absolute;
                left: 10px;
                top: 8px;
            }
            
            &:hover {
                color: #000;
                background: #fff;
                @include single-transition(color, 0.2s, ease);
                
                .icon {
                    color: #000;
                    @include single-transition(color, 0.2s, ease);
                }
            }
            
            &.active {
                background: $blue;
                color: #fff;
                @include single-transition(color, 0.2s, ease);
                @include single-transition(background, 0.2s, ease);
                
                .icon {
                    color: #fff;
                    @include single-transition(color, 0.2s, ease);
                }
            }
        }
        
    }
    
    .profile-info-item {
        display: none;
        
        &.active {
            display: block;
        }
    }
    .profile-user-bio {
        @include box();
    }
}
