.profile {

    .header {
        position: relative;
        @include box;
        height: 200px;
        padding-left: 260px;
        margin-bottom: 4px;
        border-bottom: 0;
        border-radius: 2px 2px 0 0; 
        
        img {
            position: absolute;
            left: 20px;
            top: 20px;
            border-radius: 3px;
        }
        
        h1 {
            margin-left: -1px;
        }
        
        .title {
            font-size: 14px;
            color: $fadeblue;
        }
        
    }
    
    .user-info {
        @include box;
        border-radius: 0 0 2px 2px;
        box-sizing: border-box;
        width: 100%;
        padding: 0;
        
        .pill {
            padding: 14px;
            font-size: 13px;
            color: $darkblue;
            float: left;
            border-radius: 2px;
            margin-right: 20px;
            text-transform: capitalize;
            
            span {
              color: $darkbackground;
              font-weight: bold;
              
              &.icon {
                  
              }
            }
            
            
            &.follow-status {
                color: $darkgrey;
                float: right;
                background: $lightgrey;
                padding: 8px 12px 8px 8px;
                margin: 4px 10px 0 0;
                
                span {
                    color: $darkgrey;
                }
                
                &.active {
                    background: $darkgreen;
                    color: #fff;
                    
                    span {
                        color: #fff;
                    }
                }
            }
        }
    }
}
