<%= form_for Post.new, :remote => true do |p| %>
    <div class="new-post">
        <%= image_tag current_user.image_path.url(:profile) %>
        
        <div class="input-wrap">
            <span class="pointer"></span>
            <%= p.text_area :content, :placeholder => 'Say Something...', :class => 'expanding' %>
            
            <div class="buttons">
                <%= p.submit "Post", :class => "btn submit" %>
            </div>
        </div>
        
    
    </div>
<% end %>