<%= form_for Post.new, :remote => true do |p| %>
    <div class="new-post">
        <h3><span class="icon icon-pencil"></span> New</h3>
        <%= p.text_area :content, :placeholder => 'Say Something...', :class => 'expanding' %>
        <%= p.submit "Post", :class => "btn" %>
    
    </div>
<% end %>