<h1>Posts</h1>
<% @posts.each do |post| %>
	<b><i><%= post.user.full_name %></i></b>
	<p><%= post.content %></p>
	<ul>
	<% post.comments.each do |comment| %>
		<li>
			<i><%= comment.user.full_name %></i>
			<p><%= comment.content %></p>
		</li>
	<% end %>
	</ul>
	<hr />
<% end %>
