<a href="<%= location_path location %>" class="item">
    <div class="name"><%= location.city %></div>
    <div class="title">,</div>
    <div class="location"><%= location.state %>
        <span class="icon icon-location"></span>
    </div>
</a>