<h3>People within <%= @proximity %> miles from <%= @current_location.address %></h3>
<% @all_locations.each do |location| %>
    <% if location.users.count > 0 %>
    <div class="user-list">
        <h4><%= location.address %></h4>
        <%= render :partial => 'users/user', :collection => location.users %>
    </div>
    <% end %>
<% end %>
